compose/*
!compose/.gitkeep
config/barong/management_api_v1.yml
config/barong/management_api.yml
config/frontend/*.js
config/gateway/envoy.yaml
config/mysql/*
!config/mysql/.gitkeep
config/peatio/management_api_v1.yml
config/peatio/seed/*
!config/peatio/seed/.gitkeep
config/secrets/*
!config/secrets/.gitkeep
config/acme.json
config/*.env
config/toolbox.yaml
config/traefik.toml
vendor/
!vendor/.gitkeep
terraform/*.tfvars
terraform.tfstate*
!data/geth/.gitkeep
*.orig
.DS_Store
.idea
.vscode
