compose/*.yaml
config/acme.json
config/barong/management_api_v1.yml
config/barong/management_api.yml
config/frontend/*.js
config/gateway/envoy.yaml
config/peatio/management_api_v1.yml
config/toolbox.yaml
config/traefik.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
config/peatio/seed/*
!config/peatio/seed/.gitkeep
vendor/
!vendor/.gitkeep
terraform/*.tfvars
terraform.tfstate*
!data/geth/.gitkeep
*.orig
.DS_Store
.idea
.vscode
